name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      EC2_HOST: ${{ secrets.EC2_HOST }}
      EC2_USER: ${{ secrets.EC2_USER }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa

    - name: Add EC2 host to known_hosts
      run: |
        ssh-keyscan -H "$EC2_HOST" >> ~/.ssh/known_hosts

    - name: Deploy on EC2
      run: |
        ssh -o StrictHostKeyChecking=no "$EC2_USER@$EC2_HOST" "
          cd ~/zomato-devops-pipeline &&
          git pull origin main &&
          sudo docker compose down || true &&
          sudo docker compose up --build -d
        "
